* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #EA580C;
    --secondary-color: orange;
    --linear: linear-gradient(180deg, var(--secondary-color), var(--main-color));
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (min-width : 768px) {}

/* medium */
@media (min-width : 992px) {}

/* large */
@media (min-width : 1200px) {}

/*start header*/
header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 25px;
    max-width: 100%;
    margin-bottom: 2px;
    margin-top: 10px;
    margin-top: 5px;
}

.links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgb(255, 255, 255, 0.45);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    display: none;
    transition: all .3s linear;

    li {
        width: 100%;
        margin: 5px 5px;
        border-radius: 8px;
        width: 180px;
        height: 30px;
        padding: 10px 30px;
        cursor: pointer;

        a {
            width: 100%;
        }
    }

    .link:hover {
        background-color: #f0f0f0;
    }

    .btn1 {

        bottom: 62px;
        position: absolute;
    }

    .btn {
        bottom: 3px;
        position: absolute;
    }

    .btn,
    .btn1 {
        width: 76%;
        margin: 0px 31px;
    }

    .btn1:hover {
        background: var(--main-color);
        color: white;
    }
}

.img {
    width: 100px;
    display: flex;
    align-items: center;
    margin-right: 68px;

    img {
        width: 100%;
    }

    span {
        color: var(--main-color);
        font-weight: 700;
        font-size: 20px;
    }
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
}

ul li {
    list-style: none;

    i {
        margin-right: 7px;
    }

    #conn {
        transform: rotate(-24deg);
    }

    a {
        text-decoration: none;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 600;
        color: #666;
    }

    a:hover {
        color: var(--main-color);

    }
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.btn1 {
    width: 130px;
    height: 45px;
    border: 2px solid var(--main-color);
    border-radius: 32px;
    background: var(--main-color);
    color: white;
    font-size: 19px;
    cursor: pointer;
    transition: all .3s linear;
}

.btn1:hover {
    box-shadow: 0rem 0rem 1.3rem var(--main-color);
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}

.btn {
    background-color: none;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    font-size: 19px;
    width: 130px;
    height: 45px;
    border-radius: 32px;
    cursor: pointer;
    transition: all .3s linear;
}

.btn:hover {
    box-shadow: 0rem 0rem 1.3rem var(--main-color);
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}

@media (max-width : 990px) {
    header {
        padding: 0px;
        margin: 20px 18px;
    }

    ul {
        gap: 20px;
    }

    .buttons {
        gap: 8px;
    }
}

.menu {
    display: none;
}

@media (max-width : 768px) {
    header {
        padding: 0px;
        margin: 20px 18px;
    }

    .menu {
        display: block;
    }

    .buttons,
    .active {
        display: none;
    }
}

@media (max-width : 350px) {
    .img {
        width: 60px;

        span {
            font-size: 15px;
        }
    }
}

/*end header*/

.home {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
    background-color: #F7F4E3;
    padding-bottom: 60px;
}

.container {

    display: flex;
    align-items: normal;
    justify-content: space-around;

}

.home .container img {
    border: 2px solid var(--main-color);
    border-radius: 20px;
    animation: float 4s linear infinite;
    height: 270px;

}

/*
@keyframes float {
    0% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(-3.5rem);

    }

    100% {
        transform: translateY(0rem);

    }
}
*/
.home .container .info h1 {
    font-size: 24px;
    color: var(--main-color);
    width: 60%;
}

.home .container .info p {
    width: 74%;
    font-size: 18px;
    margin-top: 45px;
}

.home .btnhome2 {
    background: none;
    border: 3px solid var(--main-color);
    color: var(--main-color);
    padding-left: 3px;

    span {
        margin-left: 7px;
    }
}

.home .btnhome,
.btnhome2 {
    margin-top: 7%;
    width: 159px;
    height: 53px;
    text-align: center;
    padding: 13px 17px;
    background-color: var(--main-color);
    border-radius: 6px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 0.3s linear;
    margin-right: 5px;
}

.btnhome:hover {
    transform: scale(1.1);
    box-shadow: 0rem 0rem 1.3rem var(--main-color);

}

.btnhome2:hover {
    transform: scale(1.1);
    box-shadow: 0rem 0rem 1.3rem var(--main-color);
}

@media (max-width : 992px) {
    .home .container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }


}

@media (max-width:768px) {
    .home .container img {
        width: 100%;
    }

    .home .container .info h1 {
        width: 100%;
        font-size: 20px;
    }

    .home .container .info p {
        margin-top: 30px;
        width: 100%;
        font-size: 15px;
    }

    .home .btns {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
}