*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #ff4321;
  --secondary-color: orange;
  --white-background: white;
  --background-color: #eeeeee;
  /* --gray-background: #eee;*/
  --link-color: black;
  --color-nav: #424040;
}

body[data-theme="dark"] {
  --background-color: #030f19;
  --white-background: #030f19;
  background-color: #030f19;
  /* --gray-background: #222;*/
  --link-color: #eee;
  --color-nav: white;
  --main-color: #ca4410;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

ul {
  list-style: none;
}

body {
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*start header*/
header {
  /* position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: var(--white-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  max-width: 100%;*/
  top: 0;
  left: 0;
  background: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  max-width: 100%;
  margin-bottom: 2px;
  z-index: 10;
  box-shadow: 0px 0 1px white;
}

/* logo */
.img {
  /* width: 70px;
  display: flex;
  align-items: center;*/
  width: 80px;
  display: flex;
  align-items: center;
  margin-right: 68px;

  img {
    width: 100%;
  }

  span {
    color: var(--main-color);
    font-weight: 700;
    font-size: 20px;
  }
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  flex: 1;
}

.head li {
  list-style: none;

  i {
    margin-right: 7px;
    color: var(--color-nav);
  }

  #conn {
    transform: rotate(-24deg);
  }

  a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-nav);
  }

  a:hover {
    color: var(--main-color);
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.btn1 {
  width: 130px;
  height: 45px;
  border: 2px solid var(--main-color);
  border-radius: 32px;
  background: var(--main-color);
  color: white;
  font-size: 19px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.btn1:hover {
  box-shadow: 0rem 0rem 1.3rem var(--main-color);
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.btn {
  background-color: transparent;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  font-size: 19px;
  width: 130px;
  height: 45px;
  border-radius: 32px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.btn:hover {
  box-shadow: 0rem 0rem 1.3rem var(--main-color);
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

@media (max-width: 1200px) {
  .buttons {
    gap: 4px;
  }

  ul {
    gap: 33px;
    margin-left: 65px;
    margin-right: 0px;

    li {
      text-align: center;
    }
  }
}

@media (max-width: 990px) {
  /*header {
        padding: 0px;
        margin: 20px 18px;
    }*/

  ul {
    gap: 20px;
  }

  .buttons {
    gap: 8px;

    .btn1,
    .btn {
      width: 120px;
      height: 39px;
    }
  }

  .img {
    width: 63px;

    span {
      font-size: 12px;
    }
  }
}

.menu {
  display: none;
}

@media (max-width: 768px) {
  /* header {
        padding: 0px;
        margin: 20px 18px;
    }*/

  .menu {
    display: block;
  }

  .buttons,
  .active {
    display: none;
  }
}

@media (max-width: 350px) {
  .img {
    width: 60px;

    span {
      font-size: 15px;
    }
  }
}

/* navigations */
.links {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 250px;
  z-index: 999;
  background-color: rgb(255, 255, 255, 0.45);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  backdrop-filter: blur(10px);
  display: none;
  transition: all 0.3s linear;

  li {
    width: 100%;
    margin: 5px 5px;
    border-radius: 8px;
    width: 180px;
    height: 30px;
    padding: 10px 30px;
    cursor: pointer;

    a {
      width: 100%;
    }
  }

  .link:hover {
    background-color: #f0f0f0;
  }

  .btn1 {
    bottom: 62px;
    position: absolute;
  }

  .btn {
    bottom: 3px;
    position: absolute;
  }

  .btn,
  .btn1 {
    width: 76%;
    margin: 0px 31px;
  }

  .btn1:hover {
    background: var(--main-color);
    color: white;
  }
}

/*
.links {
  
  position: relative;
  display: flex;
  justify-content: space-between;
  flex: 0.75;
  .close {
    display: none;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

    li {
      list-style: none;

      i {
        margin-right: 7px;
      }

      #conn {
        transform: rotate(-24deg);
      }

      a {
        text-decoration: none;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 600;
        color: var(--link-color);
      }
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 20px;

    .login {
      width: 130px;
      height: 45px;
      border: 2px solid var(--main-color);
      border-radius: 32px;
      background: var(--main-color);
      color: white;
      font-size: 19px;
      cursor: pointer;
      transition: all 0.3s linear;
    }

    .login:hover {
      box-shadow: 0rem 0rem 1.3rem var(--main-color);
      transition: all 0.3s ease-in-out;
      transform: scale(1.1);
    }

    .signup {
      background-color: none;
      color: var(--main-color);
      border: 2px solid var(--main-color);
      font-size: 19px;
      width: 130px;
      height: 45px;
      border-radius: 32px;
      cursor: pointer;
      transition: all 0.3s linear;
    }

    .signup:hover {
      box-shadow: 0rem 0rem 1.3rem var(--main-color);
      transition: all 0.3s ease-in-out;
      transform: scale(1.1);
    }

    
  }
}*/
.theme-container {
  position: relative;
  transition: all 0.3s linear;
  border: 2px solid rgba(62, 57, 57, 0.571);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 23px;
  cursor: pointer;
  box-shadow: inset 0px 0px 4px gray;

  .theme {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px;
    transition: all 0.3s;
  }

  .fa-sun.move {
    transform: translate(20px, 0px) rotate(360deg);
  }

  .fa-moon.move {
    transform: translate(0px, 0px) rotate(-360deg);
  }
}

/* dispaly menu icon */
.menu {
  display: none;
}

@media (max-width: 1200px) {
  .links {
    flex: 0.8;

    .buttons {
      gap: 4px !important;
    }

    ul {
      gap: 33px !important;
    }
  }
}

@media (max-width: 990px) {
  .links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgb(255, 255, 255, 0.45);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    transition: all 0.3s linear;
    padding: 5px;

    &.hide {
      display: none;
    }

    .close {
      padding: 10px 20px;
      display: block;
    }

    ul {
      flex-direction: column;
      justify-content: start;
      align-items: start;
      flex: 1;

      li {
        width: 100%;
        border-radius: 8px;
        padding: 10px 20px;
        cursor: pointer;

        a {
          width: 100%;
        }

        &:hover {
          background-color: #f0f0f0;
        }
      }
    }

    .buttons {
      flex-direction: column;
      padding: 10px 20px;
      gap: 30px;

      button {
        width: 100% !important;
      }
    }
  }

  .menu {
    display: block;
  }
}

/*end header*/
/* start model */
main {
  background-color: var(--gray-background);
  padding: 10px 20px;
}

/* start tabs */
main .tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--main-color);
  margin-left: 0;

  li {
    border: 2px solid var(--main-color);
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: var(--white-background);
    color: var(--link-color);
    padding: 5px 15px;

    &:hover,
    &.active {
      background-color: var(--main-color);
      color: #f0f0f0;
    }
  }
}

@media (max-width: 512px) {
  main {
    .tabs {
      gap: 5px;
      border-bottom: 1px solid var(--main-color);

      li {
        border: 1px solid var(--main-color);
        border-bottom: none;
        font-size: 12px;
      }
    }
  }
}

/* end tabs */

main .model {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* error alert */
main .model .error {
  padding: 6px 12px;
  background-color: #ff4d4f;
  color: white;
  font-size: 18px;
  display: none;
  align-items: center;
  gap: 5px;

  i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
  }

  p {
    background-color: inherit;
    color: inherit;
  }
}

/* image container */
main .model .container {
  border: 2px dashed var(--main-color);
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--white-background);
  margin: 0 auto;

  .upload {
    width: 512px;
    height: 512px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    #image-file {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }

    .phase {
      text-align: center;

      i {
        color: #777;
        font-size: 45px;
      }
    }

    p {
      padding-top: 30px;
      font-size: 20px;
      font-style: italic;
      font-weight: bold;
      color: #77777798;
    }

    /* p {
      font-size: 25px;
      font-style: italic;
      font-weight: bold;
      color: #777;
    }*/
  }

  .images {
    display: none;
    padding: 10px;
    align-items: center;
    gap: 60px;

    .divider {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 2px;
      height: 97%;
      /*height:80%*/
      background: var(--main-color);
      display: block;
    }

    .image {
      background: var(--gray-background);
      position: relative;
      overflow: hidden;

      .info {
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: 5;
        display: flex;
        align-items: center;
        gap: 8px;

        span {
          background-color: var(--main-color);
          color: white;
          padding: 3px 6px;
          border-radius: 3px;
        }

        i {
          background-color: var(--main-color);
          padding: 6px 8px;
          text-align: center;
          color: white;
          border-radius: 3px;
          cursor: pointer;
        }
      }

      .slider {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(50%, -50%);
        z-index: 3;
        background-color: white;
        width: 30px;
        height: 30px;
        padding: 3px;
        border-radius: 50%;
        cursor: ew-resize;
      }

      .original-image {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: contain;
        width: 100%;
        height: 100%;
        user-select: none;
      }

      .result-image {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: contain;
        width: 100%;
        height: 100%;
        user-select: none;
      }

      .result-image.hide {
        display: none;
      }

      .heatmap-image {
        opacity: 0;
        animation: fadeIn 5s forwards;
      }

      .scanpath-image {
        object-fit: contain;
      }
    }
  }

  .close {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 28px;
    color: red;
    z-index: 5;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    border: none;
  }
}

@media (max-width: 1150px) {
  main .model .container .images {
    flex-direction: column;
  }

  main .model .container .images .divider {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    width: 100%;
  }
}

/* heatmap fadeIn */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

/* generate button */
main .generate {
  background-color: var(--main-color);
  border: none;
  outline: none;
  color: #f0f0f0;
  padding: 7px 18px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 512px;
  margin: 0 auto;

  .loading {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid;
    border-color: white transparent;
    animation: rotate 1s infinite linear;
  }
}

@media (max-width: 600px) {
  main .model .container {
    width: 100%;
  }

  main .model .container .images {
    width: 100%;
  }

  main .model .container .images .image {
    width: 100% !important;
  }

  main .generate {
    width: 100%;
  }
}

/* loading */
@keyframes rotate {
  0% {
    rotate: 0;
  }

  100% {
    rotate: 1turn;
  }
}

/* dialog for display model info */
.dialog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);

  .container {
    background-color: #fff;
    color: black;
    width: 350px;
    padding: 10px;
    border-radius: 8px;

    .title-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      i {
        color: red;
        cursor: pointer;
        font-size: 20px;
      }
    }
  }
}